[2019-07-03 07:28] marquiz opened #3 "request: one-time $190USD to fund designing logo for Node Feature Discovery"
I'd like to request help from @alexcontini in designing a logo for the [Node Feature Discovery](https://github.com/kubernetes-sigs/node-feature-discovery) (NFD) project (see kubernetes-sigs/node-feature-discovery#255). Similar to what she did for [kubeadm](https://github.com/kubernetes/kubeadm/issues/1588).

I discussed with @dankohn and he estimated the cost at $190.

This topic hasn't been discu

[2019-07-03 20:31] philips commented on #3
We discussed this on the Steering call today. The initial reaction from the Steering committee was hesitation for two reasons:

1. What sort of precedent this would be setting for the dozens (hundreds?) of sub projects in the Kubernetes project? Would it be helpful to Kubernetes if all of those projects had a visual representation? How?

2. There is prior art for projects inside of Kubernetes havi

[2019-07-03 20:43] philips commented on #3
Also, thanks for being the first person to exercise the Kubernetes funding process!

[2019-07-04 08:42] marquiz commented on #3
Thanks for your thoughtful response! I had mostly thought this from the point of view of this one project. In a wider context what you said makes totally sense.

I think the "potential alternative", i.e. per-SIG logos for the projects to use would be useful.

[2019-07-09 00:17] jberkus commented on #3
@philips hey, dug into this, and apparently NFD *does* have UI, and they request for the logo was in order to have an icon for that. So the criterion for "end user facing" may be met.

[2019-07-23 21:39] philips commented on #3
@marquiz How would you like to proceed? I am happy to bring this up at the next steering committee meeting if you feel there is an end user value to having a logo. It would be helpful if you could provide a reference to a screecast or something showing the project that the logo would be used in.

[2019-10-07 15:26] dims commented on #3
/close

please reopen if still needed. happy to review this again as @philips mentioned.

[2019-10-07 15:26] #3 closed

[2020-04-06 01:02] cblecker opened #9 "DigitalOcean account for E2E testing"
### Problem Statement
@xmudrii on behalf of the github.com/kubernetes-sigs/cluster-api-provider-digitalocean maintainers has requested a DigitalOcean account for assistance with e2e testing:
https://groups.google.com/a/kubernetes.io/d/msg/steering/2O7e8z6m-VY/q1mppiM-BAAJ

### Proposed Solution
Before we request CNCF funding for this, I'd like to ask the CNCF to connect with DigitalOcean (a CNCF m

[2020-04-06 09:05] idvoretskyi commented on #9
/cc

[2020-04-06 17:59] idvoretskyi commented on #9
@cblecker CNCF doesn’t have the credits agreement with DO yet. Please raise the request via the CNCF ServiceDesk with the approximate credits budget and we’ll proceed with the negotiations further.

In any case, we have to understand the budget.

[2020-04-16 04:41] cblecker commented on #9
So stats wise, this isn't the busiest repo.. only a handful of PRs a month according to devstats: https://k8s.devstats.cncf.io/d/49/github-stats-by-repository?orgId=1&var-period=m&var-repos=%22kubernetes-sigs%2Fcluster-api-provider-digitalocean%22&var-stat=propened&from=now-2y&to=now

@xmudrii Perhaps you can help me out here.. What kind/size of machines are provisioned for an e2e test?

[2020-04-20 18:35] spiffxp commented on #9
/assign @dims
to followup

[2020-04-22 07:30] ahmadnurus commented on #9
@cblecker actually 2 vcpu and 2gb ram (s-2vcpu-2gb) is enough. however, we need at least 5 machines to run one e2e test.

also, we need DigitalOcean [snapshots](https://www.digitalocean.com/docs/images/snapshots/) service for storing [capi image](https://github.com/kubernetes-sigs/image-builder/tree/master/images/capi)

[2020-04-22 13:32] xmudrii commented on #9
@cblecker @dims As @prksu said, we are going to use `s-2vcpu-2gb` machines. Those machines cost $0.022/hour ($15/month). DigitalOcean supports only per hour billing.

Snapshots cost $0.05/GB/month. The average snapshot is about 3.5GB, so if I'm correct, that would be about $0.175/month per snapshot. We might need several snapshots, for multiple Kubernetes version/OS combinations, but I believe tha

[2020-04-22 13:40] dims commented on #9
let's say 500 PRs each may end up running presubmit 10 times per month ... (500 * 10 * 0.104)
let's say every day periodic for 4 k8s versions per month .. (4 * 31 * 0.528)

So that runs to 587.472 per month. So give some head room and let's ask for $1000 per month.

Does that sound reasonable to you all?

[2020-04-22 13:47] xmudrii commented on #9
@dims I'm just not sure is 500 PRs per month too much. Historically, CAPDO never had that many PRs. For 10 presubmits per PR, I think it's totally okay.

[2020-04-22 13:52] dims commented on #9
@xmudrii not just fresh PRs ... cherry picks too right. anyway we/CNCF will pay just the amount we use, so it's ok to budget slightly higher. if it is less, then that's savings :)

[2020-04-22 13:53] nikhita commented on #9
(side note: I'm transferring this issue to the k/funding repo since it's more relevant there)

[2020-04-22 13:54] xmudrii commented on #9
@dims Sounds great!

[2020-05-01 23:52] dims commented on #9
Created a Service Desk ticket - https://cncfservicedesk.atlassian.net/servicedesk/customer/portal/1/CNCFSD-417

[2020-05-04 09:43] nikhita commented on #9
Update from service desk ticket - we'll hear more from CNCF about this by EOW.

[2020-05-05 20:30] caniszczyk commented on #9
@dims I had a meeting with DO and they are good to go in supplying credits at $1000/month to start! I need to work with the folks who need access to the DO account, need their respective emails to give them access so they can enable the tests

[2020-05-05 21:17] dims commented on #9
@caniszczyk Ack. Will request @xmudrii to send you a note with the list of emails.

[2020-05-05 21:17] dims commented on #9
Thanks a ton @caniszczyk !!!

[2020-05-05 22:05] xmudrii commented on #9
Thanks a lot for the help! This is going to help us a lot and we appreciate it!

@caniszczyk I'll gather the email addresses and will follow up with you tomorrow.

[2020-05-06 01:16] cblecker commented on #9
@xmudrii @dims Can we also ensure someone from sig-cloud-provider's leadership is involved and we track who has access to the accounts?

[2020-05-06 01:29] dims commented on #9
+1 @cblecker

@andrewsykim @cheftako WDYT?

[2020-05-06 17:00] cheftako commented on #9
/sig cloud-provider

[2020-05-06 17:03] cheftako commented on #9
Added our sig to the issue. Please keep us in the loop. The wider range cloud providers we test with the better. We've been working on trying to make these sorts of tests easier to manage. I would also encourage them to show up to our sig meeting.

[2020-05-06 21:58] caniszczyk commented on #9
@xmudrii we're all set and have the credits deposited already, just need emails to invite to the account, you can reach me at cra at linuxfoundation

[2020-05-06 22:00] xmudrii commented on #9
@caniszczyk Sounds great, thank you! I'm sorting some final details with @dims, @cblecker, and SIG-Cloud-Provider and I'll reach out to you as soon as possible.

[2020-05-07 06:40] cpanato commented on #9
@cheftako if you need any help to setup things for sig-cloud-provider please let me know, willing to help

[2020-05-07 14:24] idvoretskyi commented on #9
@xmudrii please drop me a note when you are ready, we'll sort this out.

[2020-05-07 15:04] andrewsykim commented on #9
+1, happy to help manage access and what not as needed.

[2020-05-07 19:38] xmudrii commented on #9
@caniszczyk @idvoretskyi I've just sent an email to you.

[2020-05-08 22:04] xmudrii commented on #9
@cblecker @dims The account has been created and we've got access. From our side, it's okay to close this issue.

[2020-05-09 00:04] dims commented on #9
Excellent news!

/close

[2020-05-09 00:04] #9 closed

[2020-05-20 19:08] medyagh opened #10 "request: recurring to fund AWS-VMs for integration tests"
I don't have estimates but we do minikube testing in different clouds, gcloud, azure, but we don't have any testing in AWS. AWS-VMs for minikube testing with up to 10 bare-metal VMs for testing different hypervisors.

[2020-05-27 10:49] dims commented on #10
Ack @medyagh will ask wg-k8s-infra first

[2020-05-28 20:10] dims commented on #10
/assign

[2020-05-28 20:13] dims commented on #10
Talked to @medyagh . The pattern minikube is following is to have persistent VMs in various clouds that act as github action runners. And github actions trigger things to run in those persistent VM(s). So we should basically get some AWS credits/credentials that @medyagh can share with minikube maintainers to be able to take care of this farm of VMs.

@idvoretskyi already indicated that CNCF can s

[2020-05-28 20:37] idvoretskyi commented on #10
@dims sorry, I don't understand why specifically AWS is needed here - can you explain with more details?

We can offer the host to run GHA runners in Packet, or negotiate some extra capacity for the SaaS GitHub Actions.

[2020-05-28 21:54] dims commented on #10
@idvoretskyi minikube has features that work with various cloud providers ( example the registry integration https://github.com/kubernetes/minikube/blob/master/site/content/en/docs/handbook/registry.md#using-a-private-registry ) that needs to be tested. They currently have cloud credits from Microsoft/Azure for some of the scenarios (include windows testing as well). So there are things that need

[2020-05-28 22:05] medyagh commented on #10
The current goal is to have testing in all public clouds in github actions.
we use azure for nested virtualizaton testing in Windows,
and we would like to add github actions for different Linux distros available on AWS.
also to host the kic-base image that on aws registry

also we are interested to try the metal service on aws, that would let us try the virtualization testing on metal (instead of

[2020-06-08 20:46] dims commented on #10
@idvoretskyi @medyagh i've opened a Service Desk ticket https://cncfservicedesk.atlassian.net/servicedesk/customer/portal/1/CNCFSD-434

thanks,
Dims

[2020-06-08 20:47] dims commented on #10
/assign @idvoretskyi

[2020-06-08 22:07] medyagh commented on #10
thank you @dims is this service desk protal something that I could login to ? or is it internal access only?

[2020-06-08 22:50] dims commented on #10
@medyagh i'll update you when there's traffic there, at this point, we it's assigned to Ihor which in Europe. So we wait for Ihor.

[2020-06-09 05:30] idvoretskyi commented on #10
@medyagh it's for the CNCF project maintainers only - https://github.com/cncf/servicedesk#how-do-i-file-a-ticket-with-the-service-desk.

@dims and I will take it from there.

[2020-06-09 10:27] dims commented on #10
@medyagh Can you please the AWS pricing calculators and get us an approximately monthly cost?

[2020-06-10 00:21] medyagh commented on #10
Thanks @dims here is the link for the estimate https://calculator.aws/#/estimate?id=ce22ca6a1ce5fc79314fb57d26b5fc79388c8fd6

- Picked 10 instances of type" i3.2xlarge" bare metal with 8 Logical CPUs.
- Picked  "Windows" for the OS in the quick calculator. but in practice half them will become linux instances.

[2020-06-15 17:14] idvoretskyi commented on #10
@medyagh I'd suggest you put more clear estimates here, the price can differ significantly.

[2020-06-15 19:04] medyagh commented on #10
@idvoretskyi
here is the updated caclucator 5 linux and 5 windows i3.xlarge, 4 CPUs and 32 GB Ram

https://calculator.aws/#/estimate?id=92101f22c642b5445b89ba83486c468160b09415

[2020-06-26 20:42] medyagh commented on #10
Hi @dims @idvoretskyi I would like to know if there is any follow up on this ?

[2020-06-26 20:50] dims commented on #10
it's End of week for sure for Ihor. let's pick this back up next week.

[2020-07-08 23:13] medyagh commented on #10
Hi there is there any update  @dims @idvoretskyi

[2020-07-27 11:18] idvoretskyi commented on #10
Status update: there are no AWS credits available yet, so this is pending. We are waiting for the next batch of credits to be allocated by AWS, and we'll proceed from there.

Should take a week or a few (hopefully).

[2020-08-06 14:59] ncdc opened #12 "request: recurring ?/month to fund storage for AWS AMIs for kubernetes-sigs/cluster-api-provider-aws"
- **Description**: CNCF-owned AWS account to host AMIs for kubernetes-sigs/cluster-api-provider-aws
- **Requesting SIG**: Cluster Lifecycle
- **SIG approval**: will ask the SIG leads to +1 this issue
- **Cost**: TBD (will try to get estimates of our current costs)
  - Frequency: monthly
  - Scale function: approximately $18USD/Kubernetes version/month * number of Kuberntes versions we have AMIs fo

[2020-08-06 14:59] ncdc commented on #12
cc @timothysc @dims @neolit123 @idvoretskyi @nikhita

[2020-08-06 15:04] neolit123 commented on #12
+1

[2020-08-06 15:04] neolit123 commented on #12
cc @justinsb

[2020-08-06 15:05] randomvariable commented on #12
Don't have access to the historic data, but it'll be $6 / AMI copied to all regions / month:

EBS storage cost: $0.05 / GB / month
AMI size is 8GB, and we publish in 15 regions.

[2020-08-06 15:10] ncdc commented on #12
For a single Kubernetes version (e.g. 1.18.1), how many AMIs do we publish?

[2020-08-06 15:12] randomvariable commented on #12
Sorry, updated my comment above. That's $6 for all AMIs in all of the regions. It's usually one set of AMIs per Kubernetes version.

[2020-08-06 15:13] ncdc commented on #12
Does that cover ubuntu + centos + AL2 variants combined? Or is that $6 for ubuntu, $6 for centos, etc?

[2020-08-06 15:14] randomvariable commented on #12
Beat me to it. That's per distribution, so more like $18 at present.

[2020-08-06 15:51] nikhita commented on #12
/assign

I'll create a CNCF service desk ticket to get this moving. As @idvoretskyi mentioned on slack, CNCF is temporary out of credits on the CNCF AWS account but are hoping to get that resolved in the next week or two.

[2020-08-06 16:15] justinsb commented on #12
+1 from me

[2020-08-07 11:23] nikhita commented on #12
Created service desk ticket - https://cncfservicedesk.atlassian.net/servicedesk/customer/portal/1/CNCFSD-492. It's only accessible to steering committee members and CNCF staff, but I'll post updates here as I hear back on the service desk ticket. :+1:

[2020-08-20 15:14] idvoretskyi commented on #12
@ncdc we are unblocked on this now, so please proceed!

Anything I can help here with?

[2020-08-20 15:16] ncdc commented on #12
@detiber @randomvariable @rudoi would you all be able to take point on this?

[2020-08-20 15:17] ncdc commented on #12
(And thank you @idvoretskyi for the update!)

[2020-10-15 05:41] RA489 opened #14 "request: recurring to fund Alibaba account for minikube"
Currently I don't have estimates but we do minikube testing in different clouds, gcloud, azure, but we don't have any testing in Alibaba.

Refs: https://github.com/kubernetes/minikube/issues/7695

[2020-10-15 05:41] RA489 commented on #14
cc @medyagh

[2020-10-15 11:28] dims commented on #14
@resouer @idvoretskyi Are there there any Alibaba credits available for community work?

[2020-10-15 14:07] idvoretskyi commented on #14
@dims CNCF doesn't have any yet.

How much is needed (total budget)?

[2020-10-15 18:20] medyagh commented on #14
the estimate would depend on knowing how many downloads we get on traffic and how much it costs on alibaba.
currently minikube has 3 million downloads on github, we could start with guess estimate $2000 a mohth and from then we try to adjust the price if the are more downloads at that time

[2020-10-15 20:59] dims commented on #14
@medyagh so this is just for images then?

[2020-10-15 22:43] resouer commented on #14
I am not aware of any form of funding from Alibaba Cloud side but the container image service of Alibaba Cloud is indeed free.

An alternative is to use this minikube fork (which is actively maintained): https://github.com/AliyunContainerService/minikube

[2020-10-19 18:10] dims commented on #10
this is already done.

thanks,
Dims

[2020-10-19 18:10] #10 closed

[2020-10-21 18:46] medyagh commented on #14
@dims @resouer it would be for both Docker image and also minikube binaries and preload tar files . so we need a storage bucket as well as image repository for the container

[2020-10-21 18:48] blueelvis commented on #14
@resouer - That fork seems to be 398 commits and 1 release behind of what is currently on the main repo.

[2020-11-10 18:20] medyagh commented on #14
@dims @resouer a gentle reminder about this issue.

[2020-11-10 18:31] idvoretskyi commented on #14
@medyagh a rough estimate in $$$ is strongly likely still.

[2020-11-10 23:43] prezha opened #15 "request: recurring 12,000 USD/month to fund AWS-VMs for integration tests"
as [previously discussed](https://github.com/kubernetes/funding/issues/10#issuecomment-635633146) with @medyagh, we are further expanding minikube integration testing setup in AWS cloud under both Windows and Linux OS where we need to use baremetal EC2 instances for nested virtualisation and need your additional support in funding for this next step

here is the link for the estimate: https://calc

[2020-11-10 23:53] medyagh commented on #15
I confirm I asked @prezha to help me with starting the process for increase the funding so we can use barmetal instances.
needed for integration test for KVM and Hyperv drivers of minikube.

@prezha would be the point of contact for any questions on the behalf of minikube team.

[2020-11-17 21:03] dims commented on #15
@prezha @medyagh are you already using up the current budget?

[2020-11-17 21:03] dims commented on #15
/assign

[2020-11-17 21:24] prezha commented on #15
@dims , yes, we've used up current budget already

[2020-11-17 22:26] dims commented on #15
@idvoretskyi can you please take a look?

[2020-11-17 22:41] idvoretskyi commented on #15
@dims @medyagh this significantly exceeds our currently allocated budget - we ask projects to stay around $3k monthly or less (https://github.com/cncf/servicedesk#how-can-i-use-the-computing-infrastructure-by-cncf).

Any reason why the CNCF bare metal cluster is not an option? See more details here - https://github.com/cncf/cluster.

[2020-11-18 00:14] sftim commented on #15
If the main driver is access to virtualization instructions rather than overall throughput, and the CNCF cluster isn't the right fit either, other providers such as [Equinix Metal](https://metal.equinix.com/product/) could prove more cost-effective.

[2020-11-18 05:44] idvoretskyi commented on #15
@sftim CNCF Cluster is Equinix Metal (Packet) essentially.

Please see the link I posted above.

[2020-11-18 16:13] nikhita commented on #12
@ncdc @detiber @randomvariable @rudoi :wave: Are there any outstanding items here? Can this issue be closed?

[2020-11-18 19:53] prezha commented on #15
@idvoretskyi, @sftim thanks for your responses and suggestion
can we please get access to that cluster and test it?

[2020-11-18 21:02] idvoretskyi commented on #15
@prezha sure, please proceed as described here - https://github.com/cncf/cluster

[2020-11-19 15:25] ncdc commented on #12
@nikhita I do believe this can be closed. @idvoretskyi was able to get us access to a CNCF AWS account and @sedefsavas is working on the implementation details. If we determine we're missing anything, we can reopen or create a new request. Thanks for following up!

/close

[2020-11-19 15:25] #12 closed

[2020-11-19 19:19] prezha commented on #15
@idvoretskyi thanks, we've opened a request under https://github.com/cncf/cluster/issues/154

[2020-11-19 19:26] idvoretskyi commented on #15
@prezha awesome, thanks, will keep tracking it.

[2020-11-19 19:28] prezha commented on #15
@idvoretskyi excellent, many thanks

[2021-01-11 15:11] dims commented on #15
Looks like this was taken care of in https://github.com/cncf/cluster/issues/154

thanks,
Dims

[2021-01-11 15:11] #15 closed

[2021-01-27 23:12] medyagh commented on #14
@idvoretskyi we would like to start with $3000 a month estimate then if needed update it.

[2021-01-28 00:15] mrbobbytables opened #16 "request: recurring additional $48/month to fund higher tier of gsuite"
- **Description**:  Upgrade of the kubernetes.io gsuite from basic to business standard
- **Context**: The [CoCC would like a secure shared location to store potential private artifacts](https://github.com/kubernetes/steering/issues/192); a [gsuite shared drive](https://support.google.com/a/answer/7212025?hl=en).  Kubernetes is currently on the basic tier of Google gsuite, which unfortunately does

[2021-01-28 08:38] nikhita commented on #16
+1.

@mrbobbytables do you know who can help with the gsuite upgrade? Someone from CNCF?

[2021-01-28 08:40] nikhita commented on #16
fyi CoCC - @AevaOnline @celestehorgan @karenhchu @tashimi @tpepper

[2021-01-28 22:48] dims commented on #16
@nikhita i'll open a CNCF service desk issue.

[2021-01-28 22:51] dims commented on #16
DONE : `CNCFSD-675`

[2021-01-28 22:52] dims commented on #16
cc @caniszczyk @idvoretskyi

[2021-01-28 22:53] caniszczyk commented on #16
not a problem, approved from my perspective

Another option to consider is using the built in features of
https://lists.cncf.io for your respective mailing list (which allows you to
store files etc, Ihor can share details there)

On Thu, Jan 28, 2021 at 4:52 PM Davanum Srinivas <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2021-01-28 22:59] dims commented on #16
@caniszczyk ACK, if it was for any other reason (other than CoCC) then we would have looked at these options. (we needed the ACL from google groups + secure drive combination for extra trust)

[2021-01-28 23:08] dims commented on #16
@celestehorgan @tpepper @tashimi please chime in.

[2021-01-28 23:13] caniszczyk commented on #16
The other option would be a private github repo too but we are happy to do whatever works/easiest

All in all, this is approved from an expense POV.

[2021-01-28 23:15] mrbobbytables commented on #16
As there are potential PII concerns, the secure drive with full audit/access history is still probably the best option.

[2021-01-28 23:32] tashimi commented on #16
Thanks all! 👍

[2021-01-28 23:43] tpepper commented on #16
Thanks all.  The control features of a business account are the direction that matches best the need for CoCC content.

[2021-02-01 17:42] idvoretskyi commented on #14
@dims FYI ^

[2021-02-02 00:02] mrbobbytables commented on #16
The gsuite has been upgraded 👍
Thanks all!
/close

[2021-02-02 00:02] #16 closed

[2021-02-18 21:42] medyagh commented on #14
@idvoretskyi is there any updates on this ?

[2021-02-18 21:45] idvoretskyi commented on #14
@medyagh I think we are waiting for approval and formal request from the steering, not from me.

[2021-02-19 20:13] dims commented on #14
@idvoretskyi @medyagh i dropped the ball on this. apologies. will get a response from steering in a few days. Personally i'd be +1 on this.

[2021-02-19 20:20] idvoretskyi commented on #14
@dims thanks!

[2021-02-19 22:23] liggitt commented on #14
That amount seems reasonable to me, but I'd like to understand the intended use better.

Is this for running CI to test in that environment, or would this attract production/external traffic? I'd like to understand the implications if the traffic and costs turn out to be higher than expected. Will you be able to control those by reducing frequency/quantity of test jobs, or will the traffic be outs

[2021-02-19 22:24] dims commented on #14
@medyagh can you please confirm/respond?

[2021-02-23 00:02] mrbobbytables commented on #14
One other thought, as this would be community owned infrastructure, has wg-k8s-infra been engaged about the long term stewardship of it?

[2021-03-09 18:58] justinsb opened #17 "request: recurring <$1000USD/month to fund e2e testing on alibabacloud.com, via kOps"
- **Description**:

kOps has initial support for alibabacloud.com.  In order to enhance this support, and to enhance the stability of kubernetes as a whole by adding another platform under test, we request funding for account(s) to be added to the project-run e2e test runners.  These accounts will initially be used by kOps e2e periodic jobs, but may in future be used by other jobs also.

- **Reque

[2021-03-25 23:03] dims commented on #17
+1

[2021-03-29 18:45] parispittman commented on #17
+1

service desk ticket with cncf was entered: 742
cc. @idvoretskyi

[2021-03-29 20:00] idvoretskyi commented on #17
@parispittman thanks!

cc @caniszczyk

[2021-04-19 17:13] parispittman commented on #17
@caniszczyk can you give folks the info about cloud credits program here?

[2021-04-30 09:57] cpanato opened #18 "request: US$5K for the year to fund CAPG development"
- **Description**:

I help to maintain the [cluster-api-provider-gcp](https://github.com/kubernetes-sigs/cluster-api-provider-gcp) and to implement/fix or improve the project I use my personal account to test the changes or/and use CI other times, which is slow and if I need to try something different I cannot (or need to hack the scripts, which is not good)

I don't have any company supporting th

[2021-04-30 10:12] fabriziopandini commented on #18
+1 @cpanato work on CAPG is super valuable and it could contribute to make our release signal more stable, let's help him if possible

[2021-04-30 11:08] dims commented on #18
+1 from me.

@cpanato as we on board some other folks (say LFX interns) we may need a bit more? Let's bump this to $5k.

Steering Folx, This would basically come out of the existing infra maintained by wg-k8s-infra, So we don't really need to involve CNCF service desk. We would basically mint a new GCP project for the folks working on CAPG and monitor the usage.

[2021-04-30 11:24] cpanato commented on #18
sounds good to me, then we can share the account, agree, updated the Issue to reflect this

[2021-04-30 13:38] neolit123 commented on #18
I appreciate your efforts @cpanato

Frankly, I think we should just drop the CAPG CI signal and other work at this point and leave it to rot until companies recognize its importance and start funding its development.

But given you and others here are in favour, I find it diffucult to object.

Can we fund one year as a start and see how it goes?

[2021-04-30 13:40] cpanato commented on #18
the idea is not for CI signal, but is to develop and fix issues in CAPG

[2021-05-06 13:54] spiffxp commented on #18
Non-binding +1 as a wg-k8s-infra lead.  We're still in very early days in terms of allocating budgets to one-off projects, but I'm supportive of the idea of carving out some portion of k8s-infra budget for actively involved contributors (which @cpanato very much is)

Other examples would be: giving ci signal folks compute budget to run queries against bigquery, giving node ci signal folks budget f

[2021-05-06 13:59] spiffxp commented on #18
/committee steering
/wg k8s-infra
/sig cloud-provider
/area provider/gcp

[2021-05-07 00:53] dims commented on #18
+1 wearing my steering hat (as well as wg-k8s-infra)

[2021-05-16 16:49] mrbobbytables opened #19 "request: recurring $39/month to fund streamyard account"
- **Description**: An annual subscription to [Streamyard](https://streamyard.com/). Streamyard is a browser based live streaming studio. It removes all the hardware/software requirements for streaming and has native integration with YouTube/Twitch etc. It will be used for streaming community events such as [Meet Our Contributors](https://www.kubernetes.dev/events/meet-our-contributors/), the [mont

[2021-05-16 17:44] dims commented on #19
+1 from me!

[2021-05-16 17:50] nikhita commented on #19
+1 as well :)

On Sun, 16 May 2021 at 23:14, Davanum Srinivas ***@***.***>
wrote:

[2021-05-17 16:49] cblecker commented on #19
+1

[2021-05-17 16:49] liggitt commented on #19
+1

[2021-05-18 20:55] jberkus commented on #19
+1 non-binding from me.

My ability to host MOC and Office Hours depends on this, because OBS has such finicky requirements.

[2021-05-24 17:03] medyagh commented on #14
@liggitt
@dims
@mrbobbytables
 sorry for the late response somehow it got lost in my notifications, this would be for the production traffic and we will not have a control over how much people would download it.
Currently our binaries are hosted by google cloud but chinnese users do not have access to GCS buckets due to national firewall

[2021-05-25 08:52] idvoretskyi commented on #14
@medyagh this is on the CNCF side already, taking care of this.

[2021-05-25 23:12] mrbobbytables commented on #19
FYI - streamyard is going to launch a group/org accounts soon. I've reached out for more information.

[2021-05-27 10:15] RA489 commented on #14
/remove-lifecycle stale

[2021-06-02 07:58] ljinging commented on #14
@medyagh  We have requested $5200 coupon for your Alibaba Cloud Account . You should be able to see it after you log in Alibaba Cloud. It's under alibabacloud.com -> log in -> Expenses -> User Center -> Coupons.

Except for the minikube binaries, we suggest you host the related docker image on Container Registry of Alibaba Cloud (ACR https://www.alibabacloud.com/product/container-registry).  ACR p

[2021-06-02 12:17] idvoretskyi commented on #14
@ljinging I'm a bit confused - does the Alibaba Cloud Account exist? We're setting a CNCF-owned, should we cancel this process?

cc @dims

[2021-06-02 12:39] dims commented on #14
@medyagh same question as @idvoretskyi , also please grant access to the account for @idvoretskyi if so, as we have CNCF taking care of all accounts.

[2021-06-03 09:33] denverdino commented on #17
@justinsb Thanks for the request. Just want to clarify several things, is for Kops only or for other CNCF project testing on Alibaba Cloud?

Our team contributes to Kops for the Alibaba Cloud before, but Kops is not very popular in chinese developer, so we don't continue put more effort on the enhancement and bug fixing. And Kops has deprecated Alibaba Cloud in Feb. https://github.com/kubernetes/k

[2021-06-10 13:16] mrbobbytables commented on #19
The pricing for a team account was not worth it for our needs, I've created a team stream-team@kubernetes.io who will be the owner for the streamyard account, at this point a CNCF member will need to login and add the billing information.

[2021-06-10 13:22] mrbobbytables commented on #19
The service desk ticket is: CNCFSD-816

[2021-06-17 06:48] nikhita opened #20 "request: one-time $450USD to fund New Contributor Workshop"
-  **Description**
@palnabarun, @divya-mohan0209 and I are organizing a [Kubernetes New Contributor Workshop](https://www.instamojo.com/cloudyuga/kubernetes-contributors-workshop/) at Kubernetes Community Days (KCD) Bangalore on 24 June 2021. We expect ~150 people to join the virtual workshop.
We would like to request 30 CNCF store coupon codes for [straight](https://store.cncf.io/products/kuberne

[2021-06-17 08:44] mrbobbytables commented on #20
+1 from me 👍

[2021-06-17 09:22] dims commented on #20
+1

[2021-06-21 03:54] nikhita commented on #20
Service desk ticket created - https://cncfservicedesk.atlassian.net/servicedesk/customer/portal/1/CNCFSD-826

I will close this issue once the service desk ticket is resolved.

[2021-06-22 03:30] nikhita commented on #20
We have the codes. Closing!

[2021-06-22 03:30] #20 closed

[2021-07-09 00:24] Riaankl opened #21 "request: one-time $1 200 USD to fund Cloud Native / Open source swag for Tauranga Careers show"
- **Description**:
30 July 2021 the [ii team](ii.coop)  would do an exhibition at the [Tauranga Careers show](https://www.canvascareers.co.nz/), New Zealand.
We will be showing off all things "Open source" and "Cloud native" to get the young people of NZ interested to join our community.
It would be great to give away some swag to the kids we have conversations with.
- **Requesting SIG**: SIG Cont

[2021-07-09 13:14] idvoretskyi commented on #21
This is sorted out internally at CNCF.

/close

[2021-07-09 13:14] #21 closed

[2021-07-15 20:31] tashimi opened #22 "request: one-time 10 t-shirt codes to fund Usability study thank yous"
- **Description**:
- **Requesting SIG**: Usability
- **SIG approval**: Yes
- **Cost**: n/a
- **Alternatives considered**: n/a

Hi! We at SIG-Usability have been giving Kubernetes t-shirts to users of Kubernetes who take an hour to do an in-depth usability study with us (we have presented on this at serveral Kubecons and plan to do an in-depth dive into what we're learning at KubeCon NA). We have r

[2021-07-16 00:47] dims commented on #22
+1 from me!

@nikhita do you want to open the servicedesk request for this please?

[2021-07-16 09:19] nikhita commented on #22
Created the sevice desk ticket - `CNCFSD-866`

@tashimi I'll let you know once I hear back form CNCF.

[2021-07-19 15:44] nikhita commented on #22
@tashimi just shared the coupon codes with you on slack.

Closing!

[2021-07-19 15:44] #22 closed

[2021-08-05 06:24] cpanato commented on #18
There is anything that I need to do to move forward with this request? thanks!

/remove-lifecycle stale

[2021-08-05 08:53] fabriziopandini commented on #18
I can't help in pushing this forward, but I can give all my support and another big +1 to this request

[2021-08-05 11:15] neolit123 commented on #18
Funding is owned by the k8s steering. You can email them or post in their
slack to let them know. I have not seen discussions about this topic
outside of this thread, but might have missed it.

[2021-08-05 14:37] neolit123 commented on #18
added comment on slack:
https://kubernetes.slack.com/archives/CPNFRNLTS/p1628174228007900

[2021-08-05 14:38] mrbobbytables commented on #18
+1 with my steering 🎩 on.

[2021-08-05 15:04] cblecker commented on #18
+1. Easy thing to fund.

@spiffxp @ameukam: Non-blocking question.. how does usage get tracked from the k8s infra standpoint right now? Are we just looking at spending graphs and estimating? Is there ways to set up enforceable budgets?

[2021-08-05 15:35] ameukam commented on #18
We currently track resources consumption and GCP services usage through Google Datastudio dashboards. AFAIK, only members of kubernetes-wg-k8s-infra@googlegroups.com can access those dashboards. Link of the dashboard : https://datastudio.google.com/reporting/14UWSuqD5ef9E4LnsCD9uJWTPv8MHOA3e/page/tPVn.
Some changes and improvements need to be done in order to make it accessible to the community.
h

[2021-09-01 03:05] RA489 commented on #14
/remove-lifecycle stale

[2021-09-08 14:38] mrbobbytables commented on #19
This was completed 👍
/close

[2021-09-08 14:38] #19 closed

[2021-09-13 17:01] mrbobbytables opened #23 "default branch rename: master -> main"
Tracking issue for the branch rename, it can be closed when the branch has been renamed and notification sent to steering public list.

[2021-09-13 17:13] mrbobbytables commented on #23
branch has been renamed, email sent to public list. Going to go ahead and close.

/close

[2021-09-13 17:13] #23 closed

[2021-09-20 16:54] derekwaynecarr commented on #18
+1

[2021-09-20 17:17] liggitt commented on #18
+1

[2021-09-21 16:10] spiffxp commented on #18
I think where were stuck right now is implementing and enforcing a budget but should be doable soonish. Does someone want to come discuss at the next wg k8s infra meeting?

[2021-10-06 15:49] riaankleinhans commented on #17
/cc @Riaankl @hh

[2021-10-12 12:40] MadhavJivrajani opened #24 "request: one-time $225USD to fund New Contributor Workshop"
- **Description**:
@rajaskakodkar, @RinkiyaKeDad and I organized a Kubernetes New Contributor Workshop at [HackIllinois Open Source Fellowship](https://fellowship.hackillinois.org/) on 1st October 2021. There were about 50 participants to join the virtual workshop.
We would like to request 15 CNCF store coupon codes for straight/fitted t-shirts to distribute to first 15 attendees who have their PR

[2021-10-12 12:42] MadhavJivrajani commented on #24
Wow, cannot math, oops!

[2021-10-12 13:00] nikhita commented on #24
I'm ok with this but would also like a +1 from @mrbobbytables

[2021-10-12 13:03] mrbobbytables commented on #24
I'm fine with it, we don't have enough codes in our current allotment so definitely need to do a request.

[2021-10-12 13:07] MadhavJivrajani commented on #24
Thanks all! ❤️
I will create a help desk ticket :)

[2021-10-12 13:12] nikhita commented on #24
@MadhavJivrajani only contribex chairs or steering members have access to the help desk. I have created a ticket `CNCFSD-959` (for those who have access). Will share an update once I hear from CNCF.

[2021-10-12 13:12] MadhavJivrajani commented on #24
Ah I see!
Thanks so much :D

[2021-10-13 02:48] nikhita commented on #24
@MadhavJivrajani @RinkiyaKeDad @rajaskakodkar I have shared the codes with you privately.

The coupon codes should work for any product in the CNCF store afaik, the straight/fitted shirts seem to be out of stock right now.

Closing this issue as done. Please reach out if you need any additional help.

[2021-10-13 02:48] #24 closed

[2021-11-06 13:31] rifelpet commented on #17
/reopen

[2021-11-06 13:32] rifelpet commented on #17
/remove-lifecycle rotten

[2021-12-07 22:50] k8s-triage-robot opened #26 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-08 04:23] justaugustus commented on #26
Thank you for creating a SECURITY_CONTACTS file. Please `/close` the issue.
/close

[2021-12-08 04:23] #26 closed

[2021-12-08 22:51] k8s-triage-robot opened #27 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-09 02:59] justaugustus commented on #27
This issue may have been opened in error due to a bug in the logic for discovering SECURITY_CONTACTS files.
For more information, please see this notice to [kubernetes-dev](https://groups.google.com/g/kubernetes-dev/c/yFlPFIYJCt8).

As this has [re]opened multiple issues across Kubernetes orgs, I will not attempt to answer comments on individual issues.
Feel free to reply to the linked kubernetes-

[2021-12-09 02:59] #27 closed

[2021-12-10 07:25] justaugustus commented on #17
Cloud Native Credits: https://www.cncf.io/credits/

@kubernetes/kops-maintainers -- Given the deprecation, is this funding request still relevant?

[2021-12-10 07:27] justaugustus commented on #14
@idvoretskyi -- Do we know the current status of this?

[2021-12-10 07:30] justaugustus commented on #18
+1 with my Steering hat on.

@kubernetes/sig-k8s-infra-leads -- what's the latest on this one?

[2021-12-10 07:53] ameukam commented on #18
We can close it. Project have been created with budget requested. PRs related are linked in this issue.

[2021-12-10 07:56] cpanato commented on #18
yes, we can close, we are also using the project with the LFX mentees
thanks for all!

/close

[2021-12-10 07:56] #18 closed

[2021-12-10 07:57] justaugustus commented on #18
Thanks everyone!
Linking the relevant PRs:
- https://github.com/kubernetes/k8s.io/pull/2904
- https://github.com/kubernetes/k8s.io/pull/2908
- https://github.com/kubernetes/k8s.io/pull/2940

[2021-12-10 08:16] idvoretskyi commented on #14
@justaugustus pending still, but thanks for flagging.

[2021-12-10 16:38] johngmyers commented on #17
I was planning on ripping out the Alibaba code soon after kOps branches for 1.23, so I would say this request is no longer relevant.

[2021-12-10 17:10] justaugustus commented on #17
@johngmyers -- Thanks for the update!
/close

[2021-12-10 17:10] #17 closed

[2022-01-14 21:46] ameukam opened #28 "request: recurring $50/month to fund experimental project for container distribution"
- **Description**:
SIG k8s Infra is currently looking at options that will help reduce the cost burden of container distribution. We want to test 2 approaches:
  - synchronize blobs of the Kubernetes container images to a AWS S3 bucket and make them available to AWS customers
  - distribute container images using a [Lambda function](https://aws.amazon.com/lambda/edge/). The lambda function will ac

[2022-01-14 21:48] ameukam commented on #28
/committee steering

[2022-01-19 21:04] ameukam commented on #28
/sig k8s-infra
cc @dims

[2022-01-19 21:34] dims commented on #28
+1 from me.

[2022-01-19 21:38] parispittman commented on #28
+1

[2022-01-19 21:44] hh commented on #28
As a test of the Cloud Credits pipeline can someone from steering make a request for this $50 via CNCF.io/credits?

[2022-01-19 21:46] mrbobbytables commented on #28
+1

[2022-01-19 21:57] dims commented on #28
@hh CNCFSD-1060 is the service desk request.

[2022-01-19 23:01] justaugustus commented on #28
+1 for Steering + @kubernetes/release-engineering!

[2022-01-20 23:07] idvoretskyi commented on #28
@ameukam +1 from the credits side of the house, do you need any assistance with setting the account up?

[2022-01-21 04:31] ameukam commented on #28
@idvoretskyi I can set up an account and give you the account id for Org invitation or give you an e-mail address. WDYT ?

[2022-01-21 06:57] idvoretskyi commented on #28
I think @hh will take case of everything needed here.

[2022-01-21 09:38] cpanato commented on #28
+1

[2022-01-24 21:49] hh commented on #28
The creation of the google group, to grant access to the account / OU is here:
https://github.com/kubernetes/k8s.io/pull/3301

[2022-01-31 20:24] dims commented on #28
thanks for the update @hh

[2022-02-05 11:32] ameukam commented on #28
The account is created and I confirm we have access to it.

/close

[2022-02-05 11:32] #28 closed

[2022-02-07 18:22] justaugustus commented on #14
@idvoretskyi -- Just wanted to check in on this one!
/assign @justaugustus @idvoretskyi

[2022-02-07 22:18] idvoretskyi commented on #14
@justaugustus the work in progress on this under the CNCF credits program, will keep us posted

[2022-03-25 17:20] parispittman opened #29 "request: one-time ~$3000USD D&O Insurance"
- **Description**:
Requesting [Directors and Officers](https://www.investopedia.com/terms/d/directors-and-officers-liability-insurance.asp) Insurance for Steering Committee, Code of Conduct Committee, and Security Response Committee members.
https://www.kubernetes.dev/community/community-groups/#committees
19 total members

Referrals / Recs / Other:
1 Thomas S. Pappas, MSA, CNAP | Senior Consultan

[2022-03-25 17:24] dims commented on #29
+1 from me!

[2022-03-25 17:44] cblecker commented on #29
+1

[2022-03-25 19:03] klaases opened #30 "CNCF MacOS Developer Account for Signing Release Binaries"
### Organization or Repo

kubernetes/minikube

### User affected

MacOS users

### Describe the issue

Hi, the [minikube](https://minikube.sigs.k8s.io/docs/) team would like to sign release binaries for MacOS.

Could CNCF please supply us with an [Apple developer account](https://developer.apple.com/support/compare-memberships/), or perhaps cover the annual fees?

Apple provides a [few waiver](htt

[2022-03-25 19:09] ameukam commented on #30
/transfer-issue funding

[2022-03-25 19:30] dims commented on #30
+1

[2022-03-25 20:01] karenhchu commented on #29
This is very much needed! +1!

[2022-03-28 08:39] cpanato commented on #29
+1

[2022-03-28 13:33] mrbobbytables commented on #29
+1 from me as swell

[2022-03-28 20:00] enj commented on #29
+1

[2022-03-28 23:11] tpepper commented on #29
+1

[2022-03-29 00:08] parispittman commented on #29
5/7 SC, 1 rep from SRC, 2 reps from CoCC

filed CNCFSD-1171 servicedesk ticket with cncf; keeping issue open to log progress and catch any other +1s/comments from committee members.

[2022-03-29 00:31] justaugustus commented on #29
+1!

[2022-04-05 17:04] celestehorgan commented on #29
Any updates? 👀

[2022-04-05 17:31] celestehorgan commented on #29
+1000000

Comment: This is potentially confernece-talk levels of interesting to figure out and unfortunately I do not think it will be as straightforward as purchasing a policy off an online insurance agency. When I looked into this to get a personal D&O insurance policy, legally most policies don't cover the openness that open source work entails:

- We are not directors at a nonprofit. This incl

[2022-04-13 15:57] parispittman commented on #29
update here:
https://github.com/cncf/foundation/issues/329

will close this issue when we have the copy

[2022-04-18 21:28] marosset opened #31 "request: one-time $NNNUSD to fund Windows kernel-space proxy work in KPGN"
- **Description**:
[kube-proxy next-gen](https://github.com/kubernetes-sigs/kpng) / KPNG is a Kubernetes SIG-network subproject that is re-architecting the kube-proxy to improve maintainability and extensibility. The subproject has made some great progress for Linux but needs some dedicated engineering resources to finish support for the Windows kernel-space proxy implementation.
This is the last

[2022-04-18 21:29] caniszczyk commented on #31
Awesome, was an LFX style mentorship considered for this type of work btw?

https://github.com/cncf/mentoring/tree/main/lfx-mentorship

On Mon, Apr 18, 2022 at 4:28 PM Mark Rossetti ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-04-18 21:33] marosset commented on #31
No, but that only because I didn't know about this.
I can look into submitting a request for this!

[2022-04-18 22:03] marosset commented on #31
Hi @caniszczyk - I took a look at the LFX mentionship program and see that the 'Spring 2022' session is already `planned`.
Does that mean we'd need to wait for the next session to have the proposal be considered for the program?

We are looking to get this work completed sooner rather than later if possible.
I'll keep the LFX mentorship program in mind for future requests tho!

[2022-04-18 22:09] caniszczyk commented on #31
You can add your idea here for LFX Mentoring, it's not live yet so you can
get in :)
https://github.com/cncf/mentoring/blob/main/lfx-mentorship/2022/01-Spring/README.md

Also Summer of Code is open now and you can PR your idea here as an example:
https://github.com/cncf/mentoring/blob/main/summerofcode/2022.md

You'd have to do this ASAP for GSOC as applications close soon for ideas, I
think your

[2022-04-18 23:21] marosset commented on #31
I'd like to know what @jayunit100 thinks since he'd be doing the mentoring :)

[2022-04-19 20:22] dims commented on #30
cc @justaugustus

[2022-04-19 20:43] justaugustus commented on #30
/assign

[2022-04-19 20:43] klaases commented on #30
When users try to run minikube, and the coming minikube GUI, they are discouraged from continuing due to lack of security.

Specifically, Apple mentions that they cannot confirm whether minikube contains malware. By signing, we hope to provide a more secure user experience on Mac OS!

![minikube-security](https://user-images.githubusercontent.com/93291761/164092082-d2245ece-29d4-49a9-bf0d-e20e4a7e

[2022-04-20 22:35] tpepper commented on #30
+1

[2022-04-21 14:19] parispittman commented on #30
+1

[2022-05-02 15:58] jayunit100 commented on #31
If it's a commited resource I'm in ! But they would need to have some prior experience in k8s & really be commited . It's an advanced project.

Many folks have come and gone on this project it's not fun or easy to tackle and very niche .

[2022-05-02 16:00] parispittman commented on #31
@caniszczyk do LFX interns come with prior experience in k8s? I don't think I've seen any and might need to go the contractor route since this is an important initiative

[2022-05-02 16:50] justaugustus commented on #31
(Jordan + Tim have been assigned as liaisons for SIG Windows and SIG Network, respectively)

[2022-05-02 16:51] parispittman commented on #31
https://docs.google.com/document/d/1ksvxHru2Df6w23jesnpGEdZAalZfRtjCbssMAdn7BrA/edit

[2022-05-02 16:58] justaugustus commented on #14
@caniszczyk -- Can we get a commit date on either:

- funding this via Cloud Credits
- directly funding for Alibaba

[2022-05-11 19:58] chris-short opened #32 "request: recurring $120USD/year to fund Contributor Comms collaboration and messaging tool"
- **Description**: Contributor Comms is requesting a Buffer account to help schedule and more effective
- **Requesting SIG**: SIG-ContribEx
- **SIG approval**:
- **Cost**: $120/year
  - Frequency: Annually
  - Scale function: Going past a certain number of team members on Buffer may incur additional costs. The intent is tightly managing those that can schedule on behalf of K8sContributors.
- **SIG

[2022-05-13 15:40] chris-short commented on #32
/assign @mrbobbytables

I know you're busy but, here's the request.

[2022-05-17 18:20] liggitt commented on #31
tagging in network / windows / kpng subproject leads for visibility:

* @caseydavenport @dcbw @thockin
* @claudiubelu @jayunit100 @jsturtevant
* @mcluseau @jayunit100 @thockin @hanamantagoudvk @VivekThrivikraman-est

This is less than a single Kubernetes release cycle. Is this a realistic time period for this project?

Is https://docs.google.com/document/d/1ksvxHru2Df6w23jesnpGEdZAalZfRtjCbssMAdn7

[2022-06-10 15:25] mrbobbytables commented on #32
+1 its not expensive and a reasonable ask + make the scheduling of tweets dramatically easier.

[2022-06-10 16:29] dims commented on #32
+1 from me

[2022-06-10 20:48] justaugustus commented on #32
+1 to fund.

@chris-short -- can you link at least one of the approval threads (preferably a GH issue or mailing list thread)?

I'm sure this is already approved from the @kubernetes/sig-contributor-experience-leads side, but we should leave some breadcrumbs here for any future archaeology.

[2022-06-22 17:02] jberkus commented on #32
Contributor Comms really needs this tool.  Please approve, thanks!

I'm co-approving as ContribEx Co-chair.

[2022-06-22 17:05] parispittman commented on #32
+1 - I wanted this tool when we created the group so its long overdue

[2022-06-23 23:43] liggitt commented on #32
+1

[2022-06-24 15:04] Atharva-Shinde commented on #32
+1 we really need this

[2022-06-24 15:21] mrbobbytables commented on #32
Request has been submitted, here is the ticket ID: CNCFSD-1319

[2022-07-20 16:38] klaases commented on #30
Hi @[justaugustus](https://github.com/justaugustus), have their been any updates with regards to being able to sign the minikube release binaries?

[2022-08-01 02:14] RA489 commented on #14
/remove-lifecycle stale

[2022-08-16 22:52] mrbobbytables opened #33 "request: recurring $5USD/month to fund replacement slack inviter"
- **Description**:  The [slackin service](https://github.com/kubernetes-sigs/slack-infra/tree/main/slackin) that we currently use to send invites for slack.k8s.io is down due to using a now deprecated API.  With no current maintainers, and in an effort to run less of this type of infrastructure,  we would like to use [Community Inviter Slack App](https://communityinviter.com/) as an alternative. T

[2022-08-16 22:53] mrbobbytables commented on #33
/cc @jeefy

[2022-08-16 23:16] BenTheElder commented on #33
see: https://github.com/kubernetes/community/issues/6813

[2022-08-16 23:29] dims commented on #33
+1 from me

[2022-08-17 00:05] cblecker commented on #33
+1 from me as well

[2022-08-17 00:06] justaugustus commented on #33
+1!

[2022-08-17 06:00] ameukam commented on #33
+1

[2022-08-17 22:09] jberkus commented on #33
+1, both as SIG-Contribex and as one of the Slack admins.

[2022-08-17 22:28] markjacksonfishing commented on #33
+1 as part of sig-contribex and a slack admin

[2022-08-19 21:47] klaases commented on #30
Hi, please remove the "lifecycle/rotten" label as we are still looking to sign the minikube binaries.

@justaugustus is there anything we can do to help speed up the process?

[2022-08-22 19:35] cblecker commented on #32
CNCF has completed request.

[2022-08-22 19:35] #32 closed

[2022-09-06 16:06] ncdc commented on #30
/remove-lifecycle rotten

[2022-10-03 23:49] klaases commented on #30
Friendly follow-up, would the minikube project be able to obtain funding or access to an Apple developer account for the purposes of signing the minikube release binary?

Here are the last two releases that we would like to be able to sign for the security of our users:
- https://github.com/kubernetes/minikube/pull/14955
- https://github.com/kubernetes/minikube/pull/14707

[2022-10-05 22:11] BenTheElder commented on #29
/remove-lifecycle stale

[2022-10-09 22:19] BenTheElder commented on #33
What happened to this?

[2022-10-09 22:23] dims commented on #33
Already Done. we can close this now.

[2022-10-09 23:17] BenTheElder commented on #33
Thanks dims!

[2022-10-09 23:17] #33 closed

[2022-10-14 20:15] #31 closed

[2022-10-20 00:21] jberkus opened #35 "request: recurring $9USD/month to fund LWKD newsletter distribution"
- **Description**: $9/month to pay for Buttondown newsletter distribution for [Last Week in Kubernetes Development](https://lwkd.info)
- **Requesting SIG**: ContribEx
- **SIG approval**: https://github.com/kubernetes/community/issues/6930
- **Cost**: 9
  - Frequency: monthly
  - Scale function: Not expected to increase
- **SIG approval list archive URL**: [approval issue](https://github.com/kubern

[2022-11-14 23:59] jberkus commented on #35
@kubernetes/steering-committee approval, please?

[2022-11-15 00:11] mrbobbytables commented on #35
lgtm with steering hat on

[2022-11-15 13:29] justaugustus commented on #35
+1 (Steering)

[2022-11-15 18:39] BenTheElder commented on #35
LGTM
+1 (Steering)

[2022-11-17 16:47] tpepper commented on #35
This seems reasonable/useful to me.  +1 (Steering)

[2022-11-29 13:23] palnabarun commented on #14
/remove-lifecycle rotten